<footer>
    <!-- <p><a href="#">
        <div id="link-top">
            <div class="triunghi"></div>
            <div class="sageata">&#8593;</div> 
        </div>
    </a></p> -->

    <a href="#" id="link-top"><div id="border"></div></a>

    <address id ="contact">
        <p>
            <b>Contact</b>
        </p>
        <p>
    <a href="tel:+40720317105">Telefon</a>
    </p>
    <p>Adress: <a href="https://maps.app.goo.gl/3775N8xYJuAQm8MJ6" target="_blank">Str. Izim?, București</a></p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3160.4809271726594!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e1!3m2!1sro!2sro!4v1740959012192!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    


    <p>
    <a href="mailto:alexandrucojoaca1@gmail.com">Email</a>
    </p>    
    <p>Chat: <a href=" https://wa.me/40723649702">Whatsapp</a>    </p>
    <p>
    <!-- <a href="https://www.youtube.com/" target="_blank">Canal YouTube</a></p> -->


    </address>

    <small>&copy; <time datetime="2025-03-01">1 martie</time> CDV</small>

</footer>