<header>
    <h1>CDV | Design & Producție Publicitară</h1>

                <input type="checkbox" id="menu-toggle" style="display: none;">
                <label class="hamburger" for="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <nav>
                    <ul class="main-menu">
                        <li class="home-btn"><a href="#"><span>Acasă</span></a>
                            <ul class="submenu">
                                <li><a href="#prezentare">Prezentare generală</a></li>
                                <li><a href="#motivatie">Ce ne diferențiază</a></li>
                            </ul>
                        </li>
                        <li><a href="#about">Despre Noi</a>
                            <ul class="submenu">
                                <li><a href="#scop">Scopul agenției</a></li>
                                <li><a href="#about#experienta">Experiență</a></li>
                                <li><a href="#about#calitate">Calitate</a></li>
                            </ul>
                        </li>
                        <li><a href="#services">Servicii</a>
                            <ul class="submenu">
                                <li><a href="/brosuri">Broșuri</a></li>
                                <li><a href="/cataloage">Cataloage</a></li>
                                <li><a href="/roll-up-uri">Roll-up-uri</a></li>
                            </ul> 
                        </li>
                        <li><a href="#gallery">Portofoliu</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </header>